<h1>お問い合わせが受付されました！</h1>

<h5>name: <%= @contact.name %></h5>
<h5>email: <%= @contact.email %></h5>
<p>content: <%= @contact.content %></p>

<p>
  <%= link_to '投稿されたブログはこちら', blogs_url %>
</p>
